<mat-toolbar color="primary">
  <div class="container">

    <a routerLink="/" class="logo">
      <span><em>ShoeStore</em></span>
    </a>

    <div class="search">
      <form class="input-btn">
        <input type="text" [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" placeholder="Type product Here" />
        <button type="submit" (click)="productNameChanged()">Search</button>
      </form>
    </div>

    <div class="routes-cart">
      <div class="routes">
        <ng-container *ngIf="!authService.getToken()">
          <a [routerLink]="['/auth/register']" routerLinkActive="active" >Register</a>
          <a [routerLink]="['/auth/login']" routerLinkActive="active" >Login</a>
        </ng-container>
        <ng-container *ngIf="authService.getToken()">
          <a [routerLink]="['/orders']" routerLinkActive="active" >Orders</a>
        </ng-container>
        <a class="cart-icon" routerLink="/cart">
          <mat-icon>shopping_cart</mat-icon>
          <span>{{user?.cartItemsCount}}</span>
        </a>
      </div>
    </div>
    <div class="menu" *ngIf="authService.getToken()">
      <mat-icon [matMenuTriggerFor]="menu">dehaze</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddressDialog()">Setup Your Address</button>
        <a mat-menu-item routerLink="/auth/profile">Profile</a>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<ng-template #addressDialog>
  <h1 mat-dialog-title>Add/Update Address</h1>
  <div mat-dialog-content>
    <form [formGroup]="addressForm">
      <app-address-form [formGroup]="addressForm"></app-address-form>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" (click)="submitAddress()">Submit</button>
  </div>
</ng-template>
