h2 {
  text-align: center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  a {
    text-decoration: none;
    background-color: #ff4081;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    &:hover {text-decoration: none;}
  }
}
